<html lang="en">
<head>
    <title>Superfluous Wordiness</title>
  <link rel="stylesheet" href="{{css_home}}">
</head>
<body>
<div class="wrapper fadeInDown">
  <div id="formContent"></div>
    <form method="POST">
      <p class="underlineHover" style="text-align:center"><strong>Tweets Collection Service</strong><br>
      <input name="logout" class="fadeIn second" type="submit"  value="Log Out"/>
      <input name="start" class ="fadeIn first" type="submit" value="Start"/>
    </form>
    <div id="formFooter">
      {% if user %}
      <p class="underlineHover"><strong>Logged in as :</strong> {{user}}
      {% endif %}
    </div>
    </div>
</div>
</body>
</html>