<html lang="en">
<head>
    <title>{{ptitle}}</title>
  <link rel="stylesheet" href="{{css_init}}">
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
  <script type='text/javascript' src="{{js_assess}}"></script>
</head>
  
<body>
	<div id='container'>
		<div id='title'>
			<h1>{{ptitle}} : Project Assessment</h1>
		</div>
  			
    <div id='quiz'></div>
    	<div class='button' id='next'><a href='#'>Next</a></div>
    	<div class='button' id='prev'><a href='#'>Prev</a></div>
    	<div class='button' id='start'> <a href='#'>Start Over</a></div> 
   </div>


</body>
</html>